torch
transformers
Pillow
requests
numpy
pydantic
matplotlib
scipy
tensorboard
Unidecode
deep-translator
requests
tokenizers
timm==0.6.13
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchmetrics==0.7.3
torchscale==0.3.0
torchvision==0.19.1+cu118
transformers==4.40.2
triton==3.0.0
